
<h1>VirtualScroll</h1>
<hr>

<div class="row">
    <div class="col">
        <button (click)="irInicio()" class="btn btn-secondary">
            Ir al incio
        </button>
    </div>
    

    <div class="col text-center">
        <button (click)="irMitad()" class="btn btn-warning">
            Ir a la mitad
        </button>
    </div>

    <div class="col text-right">
        <button (click)="irFinal()" class="btn btn-primary">
            Ir al final
        </button>
    </div>

</div>
<br>

<cdk-virtual-scroll-viewport itemSize="50" class="list-container list-group">

<div class="list-group-item" *cdkVirtualFor="let persona of personas; let i = index; let conteo = count">
    Item {{i}} / {{conteo}}

</div>

</cdk-virtual-scroll-viewport>